

@page "/customers"

@attribute [Authorize(BillerSimulatorPermissions.Customers.Default)]
@using BillerSimulator.Customers
@using BillerSimulator.Localization
@using BillerSimulator.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using BillerSimulator.Permissions
@using Microsoft.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@inherits BillerSimulatorComponentBase
@inject ICustomersAppService CustomersAppService
@inject IUiMessageService UiMessageService
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Customers"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="CustomerSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="CustomerSearchForm" Clicked="GetCustomersAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="CustomerDto"
                  Data="CustomerList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="CustomerDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="CustomerDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="CustomerDto"
                                          Visible="@CanEditCustomer"
                                          Clicked="async () => await OpenEditCustomerModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="CustomerDto"
                                          Visible="@CanDeleteCustomer"
                                          Clicked="() => DeleteCustomerAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="CustomerDto"
                      Field="CustomerNumber"
                      Caption="@L["CustomerNumber"]">
              </DataGridColumn>

              <DataGridColumn TItem="CustomerDto"
                      Field="FullName"
                      Caption="@L["FullName"]">
              </DataGridColumn>

              <DataGridColumn TItem="CustomerDto"
                      Field="PhoneNumber"
                      Caption="@L["PhoneNumber"]">
              </DataGridColumn>

              <DataGridColumn TItem="CustomerDto"
                      Field="Email"
                      Caption="@L["Email"]">
              </DataGridColumn>

              <DataGridColumn TItem="CustomerDto"
                      Field="Address"
                      Caption="@L["Address"]">
              </DataGridColumn>

            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateCustomerModal" Closing="@CreateCustomerModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="CreateCustomerForm">
            <ModalHeader>
                <ModalTitle>@L["NewCustomer"]</ModalTitle>
                <CloseButton Clicked="CloseCreateCustomerModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewCustomerValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewCustomer"
                            ValidateOnLoad="false">


                    <Validation>
                        <Field>
                            <FieldLabel>@L["FullName"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewCustomer.FullName"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["PhoneNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewCustomer.PhoneNumber"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Email"]</FieldLabel>
                            <TextEdit @bind-Text="@NewCustomer.Email"  Role="TextRole.Email" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Address"]</FieldLabel>
                            <TextEdit @bind-Text="@NewCustomer.Address"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateCustomerModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateCustomerForm" Clicked="CreateCustomerAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditCustomerModal" Closing="@EditCustomerModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="EditCustomerForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditCustomerModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingCustomerValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingCustomer"
                            ValidateOnLoad="false">
                     
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["CustomerNumber"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingCustomer.CustomerNumber"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["FullName"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingCustomer.FullName"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["PhoneNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingCustomer.PhoneNumber"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Email"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingCustomer.Email"  Role="TextRole.Email" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Address"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingCustomer.Address"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditCustomerModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateCustomerForm" Clicked="UpdateCustomerAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
